*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 4rem;
}
button{
    justify-content: center;
    margin-top: 3rem;
    width: 12rem;
    height: 4rem;
    border: 0px;
    box-shadow: #ccc 0.5rem 0.5rem 1rem;
    font-size: 2rem;
}
.cor{
    color: blue;
}